page-login {
/*
.item-md.item-input.input-has-focus .item-inner {
  //border-bottom-color: #f3cd58;
   //box-shadow: inset 0 -1px 0 0 #f3cd58;
   border-style: none;
}

.list-md .item-input.input-has-focus:last-child {
  //border-bottom-color: #f3cd58;
  //box-shadow: inset 0 -1px 0 0 #f3cd58;
  border-style: none;
}

.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner {
  //border-bottom-color: #32db64;
  //box-shadow: inset 0 -1px 0 0 #32db64;
  border-style: none;
}

.list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child {
  //border-bottom-color: #32db64;
  //box-shadow: inset 0 -1px 0 0 #32db64;
  border-style: none;
}*/
  
}
