page-home {


.defaultCircle{

    border-color: color($colors, yellow);
 }

.rcCircle{

    border-color: color($colors, rc);
 }
 .grCircle{

    border-color: color($colors, gr);
 }
 .kxCircle{

    border-color: color($colors, kx);
 }
 .kkCircle{

    border-color: color($colors, kk);
 }
 .miCircle{

    border-color: color($colors, mi);
 }
 .puCircle{

    border-color: color($colors, pu);
 }
 .ddCircle{

    border-color: color($colors, dd);
 }
 .shCircle{

    border-color: color($colors, sh);
 }

 

}
